<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cekpajak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CekPajak!"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PerhitunganPajak2">
        <activity
            android:name=".views.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.MainActivity"
            android:parentActivityName=".views.LoginActivity" />
        <activity
            android:name=".views.PerhitunganPajak"
            android:parentActivityName=".views.MainActivity" />
        <activity
            android:name=".views.Pph21Golongan"
            android:parentActivityName=".views.PerhitunganPajak" />
        <activity
            android:name=".views.PphFinal"
            android:parentActivityName=".views.PerhitunganPajak" />
        <activity
            android:name=".views.InformasiPajak"
            android:parentActivityName=".views.MainActivity" />
    </application>

</manifest>